@model CMS.Data.Entities.Customer
/* * Sinh viên: Trương Quốc Đạt - 2123110209 */

<div class="container mt-4">
    <h2 class="text-primary">THÊM KHÁCH HÀNG MỚI</h2>
    <hr />
    <form asp-action="Create" class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Họ và tên</label>
            <input asp-for="FullName" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Điện thoại</label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Mật khẩu</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <div class="col-12">
            <label class="form-label">Địa chỉ</label>
            <textarea asp-for="Address" class="form-control" rows="2"></textarea>
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-success">Lưu khách hàng</button>
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </form>
</div>